.body {
    background-color: rgb(51 51 51);
}      
       
       /*Nav Bar*/

/*Logo*/
.navbar-container {
    display: flex;
    flex-direction: row;
}

.logo {
    width: 100px;
    height: auto;
}


/*Nav links*/
.header-links {
    display: flex;
    width: 100%;
    justify-content: end;
}
.list-links {
    align-content: center;
    justify-content: center;
    list-style: none;
    padding: 10px;
    display: flex;
    
}

.list-links .link {
    padding: 10px;
    font-size: 20px;
}

.list-links a {
    color: rgb(51 51 51);
    text-decoration: none;
    font-weight: bold;
}

                /*Header*/
.header {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    background-image: url('https://img.freepik.com/free-vector/abstract-curved-perspective-grid-lines-layout-design_1017-47105.jpg');
    background-position: center;
    background-size: cover;
}

/*Header image*/

/*Container 1*/
.header-container {
    background-color: red;
    width: 50%;
    height: auto;
}

/*Container 2*/
.header-container-2 {
    background-color: blue;
    
}


                /*Mission statement*
/*Mission header*/


                /*Product Tiles*/
/*Tile 1*/
/*Tile 2*/
/*Tile 3*/
/*Tile 4*/

                /*Team*/ 
/*Team header*/
/*Team member 1*/
/*Team member 2*/
/*Team member 3*/

/*Footer*/